@using TresPorcento.Controllers
@{
    ViewData["Title"] = "Três Porcento";
    ViewData["Porcentagem"] = $"Chances de acerto {HomeController.MostrarChancesDeAcerto:F2}%";
    ViewData["DicaMaior"] = "O número é maior que: " + HomeController.LimiteMenorNumero;
    ViewData["DicaMenor"] = "O número é menor que: " + HomeController.LimiteMaiorNumero;
}

<div class="text-center">
    <figure class="text-center">
        <blockquote class="blockquote">
            <p>@ViewData["Porcentagem"]</p>
        </blockquote>
        <figcaption class="blockquote-footer">
            @ViewData["DicaMaior"]
        </figcaption>
        <figcaption class="blockquote-footer">
            @ViewData["DicaMenor"]    
        </figcaption>
    </figure>
    
    <form>
        <div class="mb-3">
            <input type="number" class="form-control" id="numeroUsuario" placeholder="Informe o n°" value=0/>
        </div>
        
        <button class="btn btn-success" id="button">Enviar</button>
        <a class="btn btn-warning" href="https://localhost:7184/">Recomeçar</a>
    </form>

</div>
<script>

    var button = document.getElementById('button');
    var URL = "https://localhost:7184/";
    
    function openInNewTab(URL) {
      var antiga = window;
      var win = window.open(URL, '_blank');
      win.focus();
      antiga.close();
    }

    button.onclick = function() {
        openInNewTab(URL + document.getElementById("numeroUsuario").value);
    }
    
</script>
